:root {
    --primary: #e6029d;
    --primary-light: #ff3fc5;
    --primary-dark: #9b327b;

    --secondary-light: #55394D;
    --secondary: #2e272b;
    --secondary-dark: #1d181b;

    --black: #201c1f;
    --gray: #ad97a8;
    --white: #f3e4f0;

    --margin-xxs: 0.25rem;
    --margin-xs: 0.50rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.50rem;
    --margin-xxl: 2.0rem;

    --font-xxs: 0.50rem;
    --font-xs: 0.75rem;
    --font-s: 1rem;
    --font-m: 1.25rem;
    --font-l: 1.50rem;
    --font-xl: 1.75rem;
    --font-xxl: 2.00rem;
}

.animated-link{
    color: var(--white);
    will-change: transform;
    transition: transform 0.2s ease;
}
.animated-link:hover{
    color: var(--primary);
    transform: scale(1.1);
    cursor: pointer;
}

.animated-btn{
   background-color: var(--primary);
   color: var(--white);
   border-radius: 15px;
   border: 2px solid var(--primary);
   padding: 1%;
   transition: all 0.2s ease;
}
.animated-btn:hover{
    color: var(--primary);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.animated-btn-pink{
    padding: 1%;
    color: var(--primary);
    border: 1px solid var(--pink);
    border-radius: 10px;
    background-color: var(--pink);
    transition: transform 0.2s ease;
}
.animated-btn-pink:hover{
    color: var(--gray);
    background-color: var(--pink-lighter);
    transform: scale(1.04);
    cursor: pointer;
    border: 1px solid var(--pink-lighter);
}