.product-details{
    margin-top: 10vh;
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: var(--secondary);
    .product-details-left{
        width:  50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .product-details-img{
            width: auto;
            height: 80%;
        }
    }
    .product-details-right{
        width: 50%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .product-details-info{
            width: 90%;
            height: 50%;
            margin-bottom: var(--margin-xxl);
            .product-details-name{
                font-size: var(--font-xl);
                margin-bottom: var(--margin-xs);
                color: var(--white);
            }
            .product-details-price{
                font-size: var(--font-m);
                margin-bottom: var(--margin-xs);
                color: green;
            }
            .product-details-category{
                font-size: var(--font-s);
                margin-bottom: var(--margin-xl);
                font-weight: lighter;
                text-transform: capitalize;
                color: var(--white);
            }
            .product-details-description{
                font-size: var(--font-s);
                font-weight: normal;
                text-align: justify;
                margin-bottom: var(--font-xxl);
                color: var(--white);
            }
        }
        .product-buy-section{
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: var(--font-m);
            color: var(--white);
            p{
                margin-bottom: var(--margin-m);
            }
            .sizes-inputs{
                display: flex;
                justify-content: center;
                margin-bottom: var(--margin-xl);
                .size-input{
                    height: auto;
                    width: 60px;
                    label{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: var(--font-xxl);
                        font-weight: bold;
                        background-color: var(--white);
                        transition: background-color 0.5s ease;
                        z-index: 1;
                        cursor: pointer;
                        color: var(--secondary);
                    }
                    input{
                        position: absolute;
                        border-radius: 0;
                        opacity: 0;
                        z-index: 2;
                    }
                    input:hover{
                        cursor: pointer;
                    }
                    input:checked+label{
                        background-color: var(--primary);
                        color: var(--white);
                    }
                }
            }
            .buy-btn{
                margin: auto;
                width: 50%;
                font-size: var(--font-m);
            }
        }
    }
}

@media (max-width: 768px){
    .product-details{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 10% 0;
        .product-details-left{
            width: 100%;
            .product-details-img{
                width: 80%;
            }
        }
        .product-details-right{
            width: 100%;
            .product-details-info{
                height: auto;
            }
            .product-buy-section{
                height: auto;
            }
        }
    }
}