.side-menu{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 90%;
    height: 100%;
    padding: 5% 10%;
    background-color: var(--secondary-dark);
    transition: left 0.2s ease;
    display: flex;
    flex-direction: column;
    .side-menu-title{
        font-size: var(--font-xxl);
        font-weight: 400;
        color: var(--white);
        text-align: center;
        margin-bottom: var(--font-m);
    }
    .side-menu-nav{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: 1px solid var(--white);
        border-top: 1px solid var(--white);
        a{
            font-size: var(--font-l);
            color: var(--white);
            i{
                margin: 0 var(--margin-m) 0 0;
                width: 10%;
            }
            span{
                width: 90%;
            }
        }
    }
    button{
        font-size: var(--font-l);
        color: var(--white);
        margin-top: var(--font-m);
        background-color: var(--primary);
        border-radius: 10px;
    }
}
.side-menu-active{
    left: 0;
}

@media (max-width: 768px){
    .side-menu{
        width: 100%;
    }
}